<html>
      <head>
        <title>About Us</title>
        <meta charset="UTF-8"></meta>
        <meta name="description" content=""></meta>
        <meta name="keywords" content=""></meta>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")'></link>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/table.css")'></link>
      </head>
      <body>
        <center>
          <h1> Our Story</h1>
        </center>
        <!--menu bar-->
        <nav>
          <ul>
            <li><a href="/welcome">Home</a></li>
            <li><a href="/build2">Build Schedule</a></li>
            <li><a href="/updateUser">Account</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <section id="aboutus">
          <p style="background:white; opacity:0.8;">
            <center style="font-size: 20px; font-family:cursive, verdana;">
              Our story begin many many days ago, when we were first assigned to this project. We took this journey in an attempt to improve our current model of TigerPaws -- which is a terrible, archiac way of scheduling classes.
              <br/>
              <br/>
              Meet the Team:
              <br/>
              <table>
                <tr>
                  <td>
                    <img src='@routes.Assets.at("images/rb.jpeg")' alt="Rob Bierman"/>
                  </td>
                  <td>
                    Rob Bierman
                    <br/>
                    <br/>
                    Fro like a mf
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src='@routes.Assets.at("images/kj.jpeg")' alt="Kendrick James"/>
                  </td>
                  <td>
                    Kendrick James
                    <br/>
                    <br/>
                    Balla
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src='@routes.Assets.at("images/ll.jpeg")' alt="Lu Liu"/>
                  </td>
                  <td>
                    Lu Liu
                    <br/>
                    <br/>
                    Need to figure out how to crop pics
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src='@routes.Assets.at("images/co.jpeg")' alt="Caleb Olson"/>
                  </td>
                  <td>
                    Caleb Olson
                    <br/>
                    <br/>
                    #Bitches
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src='@routes.Assets.at("images/zs.jpeg")' alt="Zach Solcher"/>
                  </td>
                  <td>
                    Zach Solcher
                    <br/>
                    <br/>
                    Webmaster
                  </td>
                </tr>
              </table>
            </center>
          </p>
        </section>
      </body>
    </html>