<html>
      <head>
        <title>Welcome</title>
        <meta charset="UTF-8"></meta>
        <meta name="description" content=""></meta>
        <meta name="keywords" content=""></meta>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")'></link>
      </head>
      <body>
        <center>
          <h1> Welcome to ScheduleGuru</h1>
        </center>
        <section id="loginBox" class="loginForm cf">
          <form name="login" action="/login/checking" method="POST">
            <h2>Registered User</h2>
            <br/>
            <label>E-mail: </label>
            <input id="name" name="username" placeholder="email address" type="text"></input>
            <br/>
            <br/>
            <!--password-->
            <label>Password: </label>
            <input id="password" name="password" placeholder="******" type="password"></input>
            <br/>
            <!--submit button-->
            <br/>
            <button type="submit">Login</button>
            <br/>
          </form>
        </section>
        <section id="registerBox" class="loginForm cf">
          <form name="newUser" action="/login/createuser" method="post">
            <h2>New User</h2>
            <br/>
            <label>Firstname: </label>
            <input id="fname" name="fname" placeholder="" type="text"></input>
            <br/>
            <br/>
            <label>Lastname: </label>
            <input id="lname" name="lname" placeholder="" type="text"></input>
            <br/>
            <br/>
            <label>E-mail: </label>
            <input id="email" name="email" placeholder="guru(at)google.com" type="text"></input>
            <br/>
            <br/>
            <label>Password: </label>
            <input id="password1" name="password1" placeholder="******" type="password"></input>
            <br/>
            <br/>
            <label>Re-Enter Password: </label>
            <input id="password2" name="password2" placeholder="******" type="password"></input>
            <br/>
            <br/>
            <button type="submit">Create Account</button>
            <br/>
          </form>
        </section>
      </body>
    </html>